import sys, os
INTERP = os.path.join(os.environ['HOME'], 'local', 'bin', 'python')
if sys.executable != INTERP:
    os.execl(INTERP, INTERP, *sys.argv)
# Example of appending a bin dir to the path, e.g. when running in
# a shared hosting environment.  The path is necessary for the transcoding
# binaries.
localbin = os.path.join(os.environ['HOME'], 'local', 'bin')
sys.path.append(localbin)
os.environ['PATH'] += ':' + localbin

from app import app as application

