
1 3 * * * postgres ts=`date +'\%Y-\%m-\%d'`; fn="/backups/postgresql/soundlocale_$ts.sql"; pg_dump -c soundlocale > $fn
3 3 * * * postgres ts=`date +'\%Y-\%m-\%d'`; fn="/backups/postgresql/postgres_$ts.sql"; pg_dump -c postgres > $fn
5 3 * * * postgres find /backups/postgresql -type f -mtime +{{ pg_backup_keep_days }} -exec rm {} \\;
