#!/bin/bash
### BEGIN INIT INFO
# Provides: soundlocale
# Required-Start: $all
# Required-Stop: $network $local_fs $syslog
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Start/stop soundlocale
# Description: Start/stop soundlocale Flask application
### END INIT INFO

set -u
set -e

. /lib/lsb/init-functions

USERNAME="app"
APP_NAME="soundlocale"
APP_ROOT="/srv/www/soundlocale"
START_SCRIPT="/usr/local/sbin/start_soundlocale.sh"

pidfile="/var/run/soundlocale/soundlocale.pid"

usage() {
    echo >&2 "Usage: $0 <start|stop|restart|force-stop|status|usage>"
}

sig () {
    test -s "$pidfile" && kill -$1 `cat $pidfile`
}

have_good_pidfile() {
    if [ -s "$pidfile" ]; then
        kill -0 `cat $pidfile` 2>/dev/null
        if [ $? -ne 0 ]; then
            return 1
        else
            return 0
        fi
    else
        return 1
    fi
}

rmpid() {
    rm -f $pidfile
}

case $1 in
start)
    sig 0 && echo >&2 "Already running." && exit 0
    if [ "$(whoami)" != "$USERNAME" ]; then
        su - $USERNAME -c "$START_SCRIPT"
    else
        bash -lc "$START_SCRIPT"
    fi
    ;;
stop)
    sig TERM && exit 0
    echo >&2 "Not running."
    ;;
force-stop)
    sig KILL && exit 0
    echo >&2 "Not running."
    ;;
restart|reload)
    if have_good_pidfile; then
        sig TERM
        if [ $? -ne 0 ]; then
            echo >&2 "Can't stop running process."
            exit 1
        fi
    else
        rmpid
        echo >&2 "Couldn't reload.  Starting instead."
    fi
    if [ "$(whoami)" != "$USERNAME" ]; then
        su - $USERNAME -c "$START_SCRIPT"
    else
        bash -lc "$START_SCRIPT"
    fi
    ;;
status)
    status_of_proc -p $pidfile python $APP_NAME && exit 0 || exit $?
    ;;
usage)
    usage
    exit 0
    ;;
*)
    usage
    exit 1
    ;;
esac
