#!/bin/sh

# For Debian / Ubuntu


NAME=soundlocale
DAEMON=/vagrant/gevent_wsgi.py
APPDIR=/vagrant
PORT={{ appserver_port }}
USER={{ appserver_user }}
UGID=$(getent passwd $RUNASUSER | cut -f 3,4 -d:) || true
pidfile=/home/vagrant/$NAME.pid

test -x $DAEMON || exit 1

. /lib/lsb/init-functions

start() {
    log_daemon_msg "Starting soundlocale web application" "soundlocale"
    if [ -z "$UGID" ]; then
        log_failure_msg "user \"$USER\" does not exist"
        exit 1
    fi
    export SOUNDLOCALE_CONFIG="configuration_vagrant"
    start-stop-daemon -b --start -d $APPDIR -c $USER --exec $DAEMON \
        --pidfile $pidfile -- -p $PORT --pidfile $pidfile
}

stop() {
    start-stop-daemon --stop --quiet --retry=TERM/30/KILL/5 --pidfile $pidfile
}

case $1 in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart|reload)
        stop
        start
        ;;
esac

