{% extends "layout.html" %}

{% block title %}Soundlocale{% endblock %}


{% block middle %}
	<div id="soundlist"></div>
{% endblock %}


{% block underscore_templates %}

{{ super() }}

<script id="program_list_template" type="text/template">
	<div id="locale-map-canvas" class="map-canvas"></div>
	<div id="programs"></div>
</script>


<script id="local_sound_list_template" type="text/template">
	<div id="program-map-canvas" class="map-canvas"></div>
	<button id="play-button" type="button" class="btn btn-default"
			data-loading-text="Loading...">
		Play
	</button>
	<button id="stop-button" class="btn btn-default">
		Stop
	</button>
	<div id="sounds"></div>
</script>


<script id="local_sound_template" type="text/template">
	<div class="sound-title panel-heading">
		<h1 class="panel-title"><%= title %></h1>
	</div>
	<div class="panel-body">
		distance: <span class="distance"><%= Math.round(distance) %></span>
		meters
	</div>
</script>

<script id="user_sound_list_template" type="text/template">
    <button id="add-sound" class="btn btn-primary">Add sound</button>
    <div id="user-sounds"></div>
</script>

<script id="user_sound_template" type="text/template">
    <% if (id) { %>
	<audio id="user-audio-<%= id %>" preload="none" controls>
		<% if (mp3) { %>
		<source src="<%= url %>.mp3" type="audio/mpeg">
		<% } %>
		<% if (m4a) { %>
		<source src="<%= url %>.m4a" type="audio/mp4">
		<% } %>
		<% if (ogg) { %>
		<source src="<%= url %>.ogg" type="audio/ogg">
		<% } %>
	</audio>
    <% } %>
    <form>
		<% if (! id) { %>
			<div class="btn btn-primary upload-container">
				<span class="upload-button-text">upload file</span>
				<input name="soundfile" type="file">
			</div>
		<% } %>
		<fieldset>
			<label class="reallabel" for="lat">latitude</label>
			<input name="lat" type="text" value="<%= lat %>" placeholder="lat">
			<label for="lat" generated="false" class="error"></label>
		</fieldset>
		<fieldset>
			<label class="reallabel" for="lng">longitude</label>
			<input name="lng" type="text" value="<%= lng %>" placeholder="long">
			<label for="lng" generated="false" class="error"></label>
		</fieldset>
		<label class="reallabel" for="title">title</label>
        <input name="title" type="text" value="<%= title %>"
			placeholder="title">
		<label class="reallabel" for="looping">loop</label>
		<input name="looping" type="checkbox" <%= looping ? 'checked' : '' %>>
    </form>
	<div class="user-sound-buttons">
	    <button class="use-current-coords btn btn-sm  btn-default">
			Use current coordinates
		</button>
	    <button class="save btn btn-success btn-sm">Save</button>
		<% if (id) { %>
		<button class="delete btn btn-danger btn-sm">Delete</button>
		<% } %>
	</div>
</script>

<script id="status-success-template" type="text/template">
	<div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
		<%= message %>
	</div>
</script>

{% endblock %}


{% block scripts %}

{{ super() }}

<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
<script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/models.js') }}"></script>
<script src="{{ url_for('static', filename='js/views-index.js') }}"></script>
<script src="{{ url_for('static', filename='js/views-accountnav.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.14&sensor=true&key=AIzaSyD-3nkd1ii1Dx3bo-BcCqw1xhhqEBVrXAs"></script>
<script>

	function soundExt() {
		var ua = navigator.userAgent.toLowerCase();
		var ff = (ua.indexOf('firefox') > -1);
		var chrome = (ua.indexOf('chrome') > -1);
		var ext;
		if (chrome || ff) {
			ext = '.ogg';
		} else {
			ext = '.m4a';
		}
		return ext;
	}

	var ac;
	var unsupUrl = '{{ url_for('static', filename='unsupported.html', _external=True) }}';
	try {
		window.AudioContext =
			window.AudioContext || window.webkitAudioContext;
		ac = new AudioContext();
	} catch (e) {
		document.location = unsupUrl;
	}
	if (! ('geolocation' in navigator)) {
		document.location = unsupUrl;
	}
	var beepsource = ac.createBufferSource();
	var beepreq = new XMLHttpRequest();
	beepsource.connect(ac.destination);
	beepreq.open(
		'GET',
		'{{ url_for('index', _external=True) }}static/2-beep' + soundExt(),
		true
	);
	beepreq.responseType = 'arraybuffer';
	beepreq.onload = function() {
		ac.decodeAudioData(
			beepreq.response,
			function(buf) {
				beepsource.buffer = buf;
			},
			function() {
				alert('Could not initialize audio');
			}
		);
	};
	beepreq.send();

	function beep(cb) {
		if ('noteOn' in beepsource) {
			beepsource.noteOn(0);
		} else {
			beepsource.start(0);
		}
		cb();
	}

	function handleGeoLocationError(map) {
		opts = {
			map:  map,
			position: new google.maps.LatLng(60, 105),
			content: 'Geolocation lookup failed'
		};
		var infoWindow = new google.maps.InfoWindow(opts);
		map.setCenter(opts.position);
	}


	function setMapCenterFromPosition(map, position) {
		map.setCenter(
			new google.maps.LatLng(
				position.coords.latitude,
				position.coords.longitude
			)
		);
	}


	(function() {
		var Config = {
			baseUrl: '{{ url_for('index', _external=True) }}'
		};
		$(document).ready(function() {
			main(Config, ac);
		});
	})();

</script>
{% endblock %}

<!-- vim: set noexpandtab tabstop=4: -->
