{% extends "layout.html" %}

{% block title %}Local Sounds{% endblock %}


{% block header %}
<div>Sounds</div>
<div id="accountnav"></div>
{% endblock %}


{% block middle %}
	<div id="map"></div>
	<div id="soundlist"></div>
{% endblock %}


{% block underscore_templates %}

{{ super() }}

<script id="local_sound_list_template" type="text/template">
	<button id="update">Update</button>
	<button id="stop">Stop</button>
	<div id="sounds"></div>
</script>


<script id="local_sound_template" type="text/template">
	<div class="sound-title"><%= title %></div>
	<audio id="<%= id %>" src="<%= url %>" controls autoplay></audio>
</script>

<script id="user_sound_list_template" type="text/template">
    <button id="add-sound">Add sound</button>
    <div id="user-sounds"></div>
</script>

<script id="user_sound_template" type="text/template">
    <% if (id) { %>
	<div>
        <audio src="<%= url %>" controls></audio>
        <button class="delete">Delete</button>
	</div>
    <% } %>
    <form>
		<% if (! id) { %>
			<input name="soundfile" type="file">
		<% } %>
		<fieldset>
			<input name="lat" type="text" value="<%= lat %>" placeholder="lat">
			<label for="lat" generated="false" class="error"></label>
		</fieldset>
		<fieldset>
			<input name="lng" type="text" value="<%= lng %>" placeholder="long">
			<label for="lng" generated="false" class="error"></label>
		</fieldset>
        <input name="title" type="text" value="<%= title %>">
    </form>
    <button class="use-current-coords">Use current coordinates</button>
    <button class="save">Save</button>
</script>

{% endblock %}


{% block scripts %}

{{ super() }}

<script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
<script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/models.js') }}"></script>
<script src="{{ url_for('static', filename='js/views-index.js') }}"></script>
<script src="{{ url_for('static', filename='js/views-accountnav.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>

	(function() {
		var Config = {
			baseUrl: '{{ url_for('index', _external=True) }}'
		};
		if (! ('geolocation' in navigator)) {
			document.location(
				'{{ url_for('static', filename='unsupported.html') }}'
			);
		}
		$(document).ready(function() {
			main(Config);
		});
	})();

</script>
{% endblock %}

